/* ======================================
   GOOGLE FONTS
====================================== */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600;700&display=swap');

/* ======================================
   RESET
====================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:linear-gradient(135deg,#ffd6ec,#f7dcff,#ffeef8);

    overflow-x:hidden;

    color:#ffffff;

    min-height:100vh;

}

/* ======================================
   BACKGROUND
====================================== */

body::before{

content:"";

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:

radial-gradient(circle at 20% 20%,rgba(255,255,255,.35),transparent 20%),

radial-gradient(circle at 80% 30%,rgba(255,182,193,.30),transparent 25%),

radial-gradient(circle at 50% 80%,rgba(255,255,255,.25),transparent 20%);

z-index:-2;

animation:backgroundMove 12s linear infinite;

}

@keyframes backgroundMove{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-25px);
}

100%{
transform:translateY(0px);
}

}

/* ======================================
   SECTION
====================================== */

section{

width:100%;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

padding:30px;

text-align:center;

}

/* ======================================
   WELCOME SCREEN
====================================== */

#welcome h1{

font-family:'Great Vibes',cursive;

font-size:75px;

color:#fff;

text-shadow:

0 0 15px hotpink,

0 0 35px deeppink;

margin-bottom:20px;

}

#welcome p{

font-size:22px;

margin-bottom:35px;

}

/* ======================================
   BUTTON
====================================== */

#openBtn{

padding:18px 45px;

border:none;

border-radius:60px;

background:white;

color:#ff1493;

font-size:20px;

font-weight:bold;

cursor:pointer;

transition:.4s;

box-shadow:0 10px 35px rgba(255,105,180,.45);

}

#openBtn:hover{

background:#ff1493;

color:white;

transform:scale(1.08);

}

/* ======================================
   BIRTHDAY PAGE
====================================== */

#birthday{

display:none;

}

#birthday h2{

font-size:42px;

margin-bottom:15px;

text-shadow:0 0 15px deeppink;

}

.name{

font-family:'Great Vibes',cursive;

font-size:95px;

color:white;

text-shadow:

0 0 20px hotpink,

0 0 40px deeppink,

0 0 70px violet;

margin-bottom:20px;

}

#birthday p{

font-size:22px;

line-height:1.8;

max-width:700px;

}
